<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
</head>

<body class="dark-edition">
<div class="wrapper ">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="fragments/navigation::menu"></div>
        <!-- Main content -->
        <div class="content">
            <div id="map"></div>
        </div>
        <!-- Footer -->
        <div th:replace="fragments/footer::footer"></div>
    </div>
</div>

<div th:replace="fragments/item::menu_fixed"></div>

<div th:replace="fragments/footer :: footer-scripts"></div>

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initGoogleMaps();
    });
</script>
</body>

</html>