<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <form>
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search products...">
                                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Filter -->
            <form class="shop__filter">
                <!-- Price -->
                <h3 class="headline">
                    <span>Price</span>
                </h3>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_1" value="" checked="">
                    <label for="shop-filter-price_1">Under $25</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_2" value="">
                    <label for="shop-filter-price_2">$25 to $50</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_3" value="">
                    <label for="shop-filter-price_3">$50 to $100</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__price" id="shop-filter-price_4" value="specify">
                    <label for="shop-filter-price_4">Other (specify)</label>
                </div>
                <div class="form-group shop-filter__price">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="shop-filter-price_from" class="sr-only"></label>
                            <input id="shop-filter-price_from" type="number" min="0" class="form-control" placeholder="From" disabled="">
                        </div>
                        <div class="col-xs-4">
                            <label for="shop-filter-price_to" class="sr-only"></label>
                            <input id="shop-filter-price_to" type="number" min="0" class="form-control" placeholder="To" disabled="">
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-block btn-default" disabled="">Go</button>
                        </div>
                    </div>
                </div>

                <!-- Checkboxes -->
                <h3 class="headline">
                    <span>Brand</span>
                </h3>
                <div class="checkbox">
                    <input type="checkbox" value="" id="shop-filter-checkbox_1" checked="">
                    <label for="shop-filter-checkbox_1">Adidas</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" value="" id="shop-filter-checkbox_2">
                    <label for="shop-filter-checkbox_2">Calvin Klein</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" value="" id="shop-filter-checkbox_3">
                    <label for="shop-filter-checkbox_3">Columbia</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" value="" id="shop-filter-checkbox_4">
                    <label for="shop-filter-checkbox_4">Tommy Hilfiger</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" value="" id="shop-filter-checkbox_5">
                    <label for="shop-filter-checkbox_5">Not specified</label>
                </div>

                <!-- Radios -->
                <h3 class="headline">
                    <span>Material</span>
                </h3>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_1" value="" checked="">
                    <label for="shop-filter-radio_1">100% Cotton</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_2" value="">
                    <label for="shop-filter-radio_2">Bamboo</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_3" value="">
                    <label for="shop-filter-radio_3">Leather</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_4" value="">
                    <label for="shop-filter-radio_4">Polyester</label>
                </div>
                <div class="radio">
                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_5" value="">
                    <label for="shop-filter-radio_5">Not specified</label>
                </div>

                <!-- Colors -->
                <h3 class="headline">
                    <span>Colors</span>
                </h3>
                <div class="shop-filter__color">
                    <input type="text" id="shop-filter-color_1" value="" data-input-color="black">
                    <label for="shop-filter-color_1" style="background-color: black;"></label>
                </div>
                <div class="shop-filter__color">
                    <input type="text" id="shop-filter-color_2" value="" data-input-color="gray">
                    <label for="shop-filter-color_2" style="background-color: gray;"></label>
                </div>
                <div class="shop-filter__color">
                    <input type="text" id="shop-filter-color_3" value="" data-input-color="brown">
                    <label for="shop-filter-color_3" style="background-color: brown;"></label>
                </div>
                <div class="shop-filter__color">
                    <input type="text" id="shop-filter-color_4" value="" data-input-color="beige">
                    <label for="shop-filter-color_4" style="background-color: beige;"></label>
                </div>
                <div class="shop-filter__color">
                    <input type="text" id="shop-filter-color_5" value="" data-input-color="white">
                    <label for="shop-filter-color_5" style="background-color: white;"></label>
                </div>
            </form>
        </div>

        <div class="col-sm-8 col-md-9">
            <!-- Filters -->
            <ul class="shop__sorting">
                <li class="active"><a href="#">Popular</a></li>
                <li><a href="#">Newest</a></li>
                <li><a href="#">Bestselling</a></li>
                <li><a href="#">Price (low)</a></li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModal" style="position: relative">
                        <i class="fa fa-shopping-cart"></i>
                        <span id="number-cart" style="position: relative;top:-10px;">3</span>
                    </a>
                </li>
            </ul>

            <div class="row" id="list_product">

            </div>

            <!-- Pagination -->
<!--            <div class="row">-->
<!--                <div class="col-sm-12">-->

<!--                    <ul class="pagination pull-right">-->
<!--                        <li class="disabled"><a href="#">«</a></li>-->
<!--                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
<!--                        <li><a href="#">2</a></li>-->
<!--                        <li><a href="#">3</a></li>-->
<!--                        <li><a href="#">4</a></li>-->
<!--                        <li><a href="#">5</a></li>-->
<!--                        <li><a href="#">»</a></li>-->
<!--                    </ul>-->

<!--                </div>-->
<!--            </div> -->

        </div> <!-- / .col-sm-8 -->
    </div> <!-- / .row -->
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Giỏ hàng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="container mb-4">
                    <h1 style="color: darkred; margin-left: 50%; margin-top: 50px; margin-bottom: 50px;">Cart</h1>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Unit Price</th>
                                        <th scope="col" class="text-center">Quantity</th>
                                        <th scope="col" class="text-right">Price</th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody id="list-product-in-cart">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="total-price"></div>


                        <button class="btn btn-lg btn-block btn-danger text-uppercase">Checkout</button>
                        <a style="margin-bottom: 50px;margin-top: 20px;" href="http://localhost:8083/index" class="btn btn-lg btn-block btn-primary text-uppercase">Continue shopping</a>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var baseURl = "http://localhost:8083/";
    function getData() {
        $.ajax({
            url:baseURl + "product/getAll",
            success:function (response) {
                if(response.code == '00' && response.data){
                    renderListProduct(response.data);
                }else{
                    alert(response.message);
                }
            },
            error:function (error) {
                console.log(error);
                alert(error);
            }
        })
    }
    function addToCart(productId) {

    }
    function renderListProduct(listProduct) {
        $('#list_product').empty();
        listProduct.map(item => {
            $('#list_product').append(`
                    <div class="col-sm-6 col-md-4">
                    <div class="shop__thumb">
                        <a href="#">
                            <div class="shop-thumb__img">
                                <img src="${item.image ?
                item.image : 'https://via.placeholder.com/400x400/'}"
                                class="img-responsive" alt="...">
                            </div>
                            <h5 class="shop-thumb__title">${item.name}</h5>
                            <div class="shop-thumb__price">
                                <div>
                                    <span class="shop-thumb-price_old">${item.price}</span>
                                    <span class="shop-thumb-price_new">${item.price}</span>
                                </div>
                                <button class="btn btn-success" onclick="addToCart('${item.id}')">
                                    Add to cart <i class="fa fa-cart-arrow-down">
                                </i>
                                </button>
                            </div>
                        </a>
                    </div>
                </div>`);
        })
    }
</script>
</body>
</html>