<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="include/layout::common_head(~{::title},~{::link})">
        <title>Quản lý thông tin người dùng</title>
        <link />
    </head>
    <body class="no-skin">
        <header th:replace="include/layout::head_menu"></header>
        <div class="main-container" id="main-container">
            <aside class="main-sidebar" th:replace="include/layout::left_menu"></aside>
            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="default-icon fa fa-home home-icon"></i>
                            <a href="javascript:;">Home</a>
                        </li>
                        <li class="active"><span th:text="${titlePage}"></span></li>
                    </ul>
                    <!-- /.breadcrumb -->
                </div>
                <div class="page-content">
                    <div class="page-content-area">
                        <div class="page-header">
                            <h1>
                                <a href="javascript:;">Quản trị hệ thống - Profile</a>
                                <small><i class="default-icon fa fa-angle-double-right"></i><span>Đổi mật khẩu</span></small>
                            </h1>
                        </div>
                        <!-- /.page-header -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div th:replace="include/layout::notice_box"></div>

                                <form id="formInsert" name="formInsert" action="#" method="POST"
                                      class="form-horizontal form-row-seperated">
                                    <div th:replace="include/layout::alert-sub"></div>
                                    <div class="form-group"> 
                                        <label id="passworLab" class="col-sm-3 control-label no-padding-right p_top">Mật khẩu cũ (<span class="text-red">*</span>) </label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="oldPassword" id="oldPassword" maxlength="20" minlength="6" />
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label id="passworLab" class="col-sm-3 control-label no-padding-right p_top">Mật khẩu mới (<span class="text-red">*</span>) </label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="password" id="password" maxlength="20" minlength="6" />
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label id="passworLab" class="col-sm-3 control-label no-padding-right p_top">Nhập lại mật khẩu mới (<span class="text-red">*</span>) </label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="RePassword" id="RePassword" maxlength="20" minlength="6" />
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" value="Cập nhật" class="btn btn-info" id="addForm"/>
                                            <a class="btn" onclick="history.back();">Hủy</a></div>
                                    </div>
                                </form>      
                            </div>                                                                       
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content-area -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
        <footer class="footer" th:replace="include/layout::footer"></footer>
        <div th:replace="include/layout::js_include">
        </div>
        <script src="../../static/plugins/jqueryValidator/jquery.validate.min.js" th:src="@{/plugins/jqueryValidator/jquery.validate.min.js}"></script>
        <script th:inline="javascript">
            jQuery(document).ready(function () {
                //kiem tra truong password
                $.validator.methods.pwcheck = function (value, element) {
                    return /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
                };
                //kiem tra truong password retype
                $.validator.methods.repwcheck = function (value, element) {
                    return $("#password").val() === value;
                };

                $("#formInsert").validate({
                    focusInvalid: true, // focus the last invalid input
                    ignore: [],
                    rules: {
                        oldPassword: {
                            required: true,
                            maxlength: 20,
                            minlength: 6
                        },
                        password: {
                            required: true,
                            maxlength: 20,
                            minlength: 6,
                            pwcheck: true
                        },
                        RePassword: {
                            required: true,
                            repwcheck: true
                        }
                    },
                    messages: {
                        oldPassword: {
                            required: "Trường mật khẩu cũ là bắt buộc",
                            minlength: "Mật khẩu phải từ 6 – 20 ký tự, có chứa ít nhất 1 ký tự số, 1 ký tự chữ",
                            maxlength: "Mật khẩu phải từ 6 – 20 ký tự, có chứa ít nhất 1 ký tự số, 1 ký tự chữ"
                        },
                        password: {
                            required: "Trường mật khẩu mới là bắt buộc",
                            minlength: "Mật khẩu phải từ 6 – 20 ký tự, có chứa ít nhất 1 ký tự số, 1 ký tự chữ, 1 chữ hoa",
                            maxlength: "Mật khẩu phải từ 6 – 20 ký tự, có chứa ít nhất 1 ký tự số, 1 ký tự chữ, 1 chữ hoa",
                            pwcheck: "Mật khẩu phải từ 6 – 20 ký tự, có chứa ít nhất 1 ký tự số, 1 ký tự chữ, 1 chữ hoa"
                        },
                        RePassword: {
                            required: "Trường Nhập lại mật khẩu mới là bắt buộc",
                            repwcheck: "Trường Nhập lại mật khẩu mới không khớp với trường Mật khẩu mới"
                        }
                    }
                });
            });

        </script>
    </body>
</html>
